@media print {
	html, body {
		display: block; 
		margin: 0;
		padding: 0;
	}
}

table {
	width: 100% !important;
	font-family: "Courier New";
	font-size: 12px;
}

table thead td {
	border-bottom: 1px solid #000;
	margin: 0;
	padding: 5px 0;
	text-align: left;
	text-transform: uppercase;
}

table thead tr.header td {
	vertical-align: top;
}

table tfoot td {
	border-top: 1px solid #000;
	margin: 0;
	padding: 5px 0;
	text-align: left;
	text-transform: uppercase;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}